@font-face {
   font-family: 'BebasNeue-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Gray%20K%20Chiyengerere/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-27_115404/fonts/BebasNeue-Regular/font.ttf');
}
